.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.todo-item p {
  margin: 0;
  flex-grow: 1;
  padding-left: 8px;
  color: #333;
  font-size: 32px;
}

.todo-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  color: #333;
  background-color: black;
}
.todo-item .checkbox{
  width: 20px;
  height: 20px;
  background-color: black;
}

.todo-item button {
  background-color: #ff6b6b;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.todo-item button:hover {
  background-color: #ff6b6b;
color: white;
}

.todo-item.completed p {
  color: #888;
  text-decoration: line-through;
}

body {
  background-color: #ecd47a;
  font-size: 16px;
}
